.profile__avatar-container {
    width: 120px;
    height: 120px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

@media screen and (min-width: 880px) {
    .profile__avatar-container {
        margin: 0;
    }
}