.footer__copyright {
    margin: 0;
    padding: 45px 19px 36px;
    font-size: 14px;
    line-height: 1.22;
    color: #545454;
    width: fit-content;
}

@media screen and (min-width: 880px) {
    .footer__copyright {
        font-size: 18px;
        padding: 67px 0 60px;
    }
}